.generalPage{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .listBoxInfor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 40px;

        .boxInfor1,.boxInfor2,.boxInfor3,.boxInfor4{
            width: 22%;
            padding: 20px;
            display: flex;
            justify-content: space-around;

            .leftBoxInfor{
                color: #fff;
            }

            .rightBoxInfor{
                color: #fff;
                font-weight: 600;
                
            }
        }

        .boxInfor1{
            background-color: rgba($color: rgb(37, 171, 92), $alpha: 0.8);
        }

        .boxInfor2{
            background-color: rgba($color: rgb(90, 181, 209), $alpha: 0.8);;
        }
        
        .boxInfor3{
            background-color: rgba($color: rgb(222, 63, 63), $alpha: 0.8);
        }

        .boxInfor4{
            background-color: rgba($color: rgb(183, 180, 16), $alpha: 0.8);
        }
    }

    .detailInfor{
        padding: 30px 16px;
        background-color: rgba($color: #fff, $alpha: 0.8);
        width: 100%;
        display: flex;
        justify-content: space-around;
        

        .activity{
            width: 30%;
            border: 1px solid #ccc;
            display: flex;
            flex-direction: column;
            border-radius: 5px;

            .activityHeader{
                display: flex;
                padding: 10px;
                border-bottom: 1px solid #ccc;
                font-weight: 600;

                i{
                    width: 20%;
                }

                .activityTitle{

                }

            }

            .activityDetail{
                display: flex;
                flex-direction: column;
                padding: 10px 20px;
                width: 100%;
                background-color: rgba($color: #ccc, $alpha: 0.8);
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                .incomeActivity{
                    display: flex;
                    justify-content: space-between;
                    margin: 8px 0;

                    span{

                    }

                    p{
                        text-decoration: underline;
                    }
                }
            }
        }

        .orderDetail{

        }

        .detailProduct{

        }
    }
}